body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  .question-container {
    margin-bottom: 20px;
  }
  
  .question {
    margin-bottom: 10px;
  }
  
  .choices li {
    list-style-type: none;
    margin-bottom: 5px;
  }
  
  .choices input[type="radio"] {
    margin-right: 5px;
  }
  
  .result-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .result {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .chart {
    margin: 20px auto;
    max-width: 400px;
  }
  
  @media (max-width: 600px) {
    .container {
      padding: 10px;
    }
  }
          